/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*****************************************
 * Authors Style sheet
 * @Vikas Choudhary
 ****************************************/
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: "Titillium web";
  color: white;
}

#user {
  background-image: linear-gradient(to right, #ff0844, #ff3144, #ff7144);
  display: grid;
  justify-items: center;
  align-content: center;
  height: 100vh;
  text-align: center;
}

#user h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
}

#user p {
  margin-bottom: 10px;
  font-size: 1.4em;
}

#user a {
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
  background-color: black;
  width: 130px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  border-radius: 20px;
  border: 2px solid black;
}

#user a:hover {
  background-color: rgb(0,0,0,0);
}

header {
  background-color: #ff0844;
  text-align: center;
  padding: 40px 0;
}

header h1 {
  font-size: 2.8em;
  padding-bottom: 5px;
}

header a {
  color: white;
  text-decoration: none;
}

header p {
  font-size: 1.35em;
}

#login, #signup {
  width: 90%;
  margin: 20px auto;
  background-color: #656565;
  padding: 15px;
	box-shadow: 5px 20px 40px #000;
}

form h2 {
  font-size: 2.2em;
  padding: 20px 0;
  text-align: center;
}

form label {
  font-size: 1.2em;
  display: inline-block;
  margin: 10px 0;
}

form span, form a {
  font-size: 1.15em;
  display: inline-block;
  margin-bottom: 20px;
}

form a {
  color: #83c8eb;
  text-decoration: none;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
  border: none;
  background-color: white;
  color: black;
  font-family: inherit;
}

#login input[type="password"] {
  margin-bottom: 5px;
}

input[type="submit"] {
  margin-top: 20px;
  background-color: #fa2e50;
  color: white;
}

input[type="submit"]:hover {
  background-color: #fa0840;
}

input:focus {
  background-color: #eee;
}

.dashboard {
  display: grid;
  grid-template-columns: 0px auto;
  justify-items: center;
  align-content: center;
  text-align: center;
}

.grid-width-mobile {
  grid-template-columns: 200px 100%;
}

.dash-side {
  visibility: hidden;
  background-color: #444;
  min-height: 100vh;
  width: 100%;
  padding-top: 20px;
}

.open {
  visibility: visible;
}

#user-info span {
  display: inline-block;
  padding: 50px;
  border-radius: 50px;
  background-color: white;
}

#user-info p {
  font-size: 1.05em;
}

#menu h2 {
  font-size: 2.3em;
  font-weight: bold;
  padding: 10px;
}

#menu ul {
  padding: 10px 10px;
}

#menu li a{
  display: block;
  background-color: #fff;
  color: royalblue;
  margin: 20px 10px;
  padding: 10px;
  font-size: 1.15em;
  border-radius: 15px;
  text-decoration: none;
}

#menu li a:hover, #menu li a.selected {
  background-color: royalblue;
  color: white;
}

#dash-main {
  color: black;
  width: 100%;
}

#heading {
  padding: 20px 5px 5px 5px;
  color: royalblue;
}

#heading h1 {
  font-size: 2.8em;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
}

#heading p {
  font-size: 1.35em;
  text-align: center;
}

#heading hr {
  display: none;
}

#menu-icon {
  padding: 5px 10px;
  background-color: royalblue;
}

#menu-icon li {
  display: block;
  margin: 5px 0;
  width: 35px;
  height: 5px;
  transition: 0.3s;
  background-color: white;
}

footer {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
}

footer p {
  font-size: 1.25em;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #user h1, header h1 {
    font-size: 3.6em; 
  }

  #login, #signup {
    width: 440px;
    margin: 40px auto;
  }
}

@media only screen and (min-width: 769px) {
  #user h1, header h1 {
    font-size: 3.9em;
  }

  header {
    padding: 25px;
  }

  #login, #signup {
    width: 500px;
    margin: 50px auto;
    padding: 45px;
  }

  form h2 {
    font-size: 2.5em;
  }

  #login label, #login input {
    font-size: 1.3em;
  }

  #signup label, #signup input {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 601px) {
  .dashboard {
    grid-template-columns: 200px auto;
  }

  .dash-side {
    visibility: visible;
  }

  #dash-main {
    width: 85%;
  }

  #heading hr {
    display: block;
    border: 1px solid royalblue;
  }

  #menu-icon {
    display: none;
  }
}