/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*****************************************
 * Authors Style sheet
 * @Vikas Choudhary
 ****************************************/
* {
  box-sizing: border-box;
}

body {
  font-family: "Titillium web";
  color: white;
}

#user {
  background-image: linear-gradient(to right, #ff0844, #ff3144, #ff7144);
  display: grid;
  justify-items: center;
  align-content: center;
  height: 100vh;
  text-align: center;
}

#user h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
}

#user p {
  margin-bottom: 10px;
  font-size: 1.4em;
}

#user a {
  display: inline-block;
  padding: 5px;
  margin-bottom: 10px;
  background-color: black;
  width: 130px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  border-radius: 20px;
  border: 2px solid black;
}

#user a:hover {
  background-color: rgb(0,0,0,0);
}

header {
  background-color: #ff0844;
  text-align: center;
}

header h1 {
  font-size: 3em;
  padding-top: 30px;
}

header a {
  color: white;
  text-decoration: none;
}

header p {
  padding-bottom: 30px;
  font-size: 1.35em;
}

#login {
  width: 90%;
  margin: 20px auto;
  background-color: #555;
  padding: 15px;
	box-shadow: 5px 20px 40px #000;
}

form h2 {
  font-size: 2.2em;
  padding: 20px 0;
  text-align: center;
}

form label {
  font-size: 1.2em;
  display: inline-block;
  margin: 10px 0;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.2em;
  border: none;
  background-color: white;
  color: black;
}

input[type="submit"] {
  margin-top: 20px;
  background-color: #fa2e50;
  color: white;
}

input[type="submit"]:hover {
  background-color: #fa0840;
}

input:focus {
  background-color: #eee;
}

footer {
  background-color: #333;
  padding: 20px 0;
  text-align: center;
}

footer p {
  font-size: 1.25em;
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #user h1, header h1 {
    font-size: 3.6em; 
  }

  #login {
    width: 440px;
    margin: 40px auto;
  }
}

@media only screen and (min-width: 769px) {
  #user h1, header h1 {
    font-size: 3.9em;
  }

  #user p {
    font-size: 1.6em;
  }

  #login {
    width: 500px;
    margin: 50px auto;
    padding: 45px;
  }

  form h2 {
    font-size: 2.5em;
  }

  #login label, #login input {
    font-size: 1.3em;
  }
}